body{
    background-color: black;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title{
    margin-top: 2em;
    margin-bottom: .6em;
    font-size: 5rem;
}

#weather-data{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 450;
}

#temp-display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    

    #temp-change{
        text-decoration: none;
        cursor: pointer;
        
    }
}

